name: Catsnap CD Workflow

on:
  push:
    branches: [ "main" ]

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      gateway: ${{ steps.filter.outputs.gateway }}
      authentication: ${{ steps.filter.outputs.authentication }}
      authorization-shared: ${{ steps.filter.outputs.authorization-shared }}
      reservation: ${{ steps.filter.outputs.reservation }}
    steps:
      - uses: actions/checkout@v4

      - name: Detect changed modules
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            gateway:
              - 'gateway/**'
            authentication:
              - 'authentication/**'
            authorization-shared:
              - 'authorization-shared/**'
            reservation:
              - 'reservation/**'

  deploy-gateway:
    needs: detect-changes
    if: needs.detect-changes.outputs.gateway == 'true' || needs.detect-changes.outputs.authorization-shared == 'true'
    permissions:
      contents: read
      packages: write
    secrets: inherit
    uses: ./.github/workflows/deploy-gateway.yml

  deploy-authentication:
    needs: detect-changes
    if: needs.detect-changes.outputs.authentication == 'true' || needs.detect-changes.outputs.authorization-shared == 'true'
    permissions:
      contents: read
      packages: write
    secrets: inherit
    uses: ./.github/workflows/deploy-authentication.yml

  deploy-reservation:
    needs: detect-changes
    if: needs.detect-changes.outputs.reservation == 'true' || needs.detect-changes.outputs.authorization-shared == 'true'
    permissions:
      contents: read
      packages: write
    secrets: inherit
    uses: ./.github/workflows/deploy-reservation.yml
