name: Catsnap CD Workflow

on:
  push:
    branches: [ "main" ]

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      catsnap-gateway: ${{ steps.filter.outputs.catsnap-gateway }}
      catsnap-authentication: ${{ steps.filter.outputs.catsnap-authentication }}
      catsnap-authorization-shared: ${{ steps.filter.outputs.catsnap-authorization-shared }}
      catsnap-reservation: ${{ steps.filter.outputs.catsnap-reservation }}
      catsnap-payment: ${{ steps.filter.outputs.catsnap-payment }}
    steps:
      - uses: actions/checkout@v4

      - name: Detect changed modules
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            catsnap-gateway:
              - 'catsnap-gateway/**'
            catsnap-authentication:
              - 'catsnap-authentication/**'
            catsnap-authorization-shared:
              - 'catsnap-authorization-shared/**'
            catsnap-reservation:
              - 'catsnap-reservation/**'
            catsnap-payment:
              - 'catsnap-payment/**'

  deploy-gateway:
    needs: detect-changes
    if: needs.detect-changes.outputs.catsnap-gateway == 'true' || needs.detect-changes.outputs.catsnap-authorization-shared == 'true'
    permissions:
      contents: read
      packages: write
    secrets: inherit
    uses: ./.github/workflows/deploy-catsnap-gateway.yml

  deploy-authentication:
    needs: detect-changes
    if: needs.detect-changes.outputs.catsnap-authentication == 'true' || needs.detect-changes.outputs.catsnap-authorization-shared == 'true'
    permissions:
      contents: read
      packages: write
    secrets: inherit
    uses: ./.github/workflows/deploy-catsnap-authentication.yml

  deploy-reservation:
    needs: detect-changes
    if: needs.detect-changes.outputs.catsnap-reservation == 'true' || needs.detect-changes.outputs.catsnap-authorization-shared == 'true'
    permissions:
      contents: read
      packages: write
    secrets: inherit
    uses: ./.github/workflows/deploy-catsnap-reservation.yml

  deploy-payment:
    needs: detect-changes
    if: needs.detect-changes.outputs.catsnap-payment == 'true'
    permissions:
      contents: read
      packages: write
    secrets: inherit
    uses: ./.github/workflows/deploy-catsnap-payment.yml
