name: Catsnap CI Test Workflow

on:
  pull_request:
    branches: [ "main" ]

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      catsnap-gateway: ${{ steps.filter.outputs.catsnap-gateway }}
      catsnap-mono: ${{ steps.filter.outputs.catsnap-mono }}
      catsnap-authentication: ${{ steps.filter.outputs.catsnap-authentication }}
      catsnap-authorization-shared: ${{ steps.filter.outputs.catsnap-authorization-shared }}
      catsnap-reservation: ${{ steps.filter.outputs.catsnap-reservation }}
      catsnap-event-schema-shared: ${{ steps.filter.outputs.catsnap-event-schema-shared }}
      catsnap-payment: ${{ steps.filter.outputs.catsnap-payment }}
      common-files: ${{ steps.filter.outputs.common-files }}
    steps:
      - uses: actions/checkout@v4

      - name: Detect changed modules
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            catsnap-gateway:
              - 'catsnap-gateway/**'
            catsnap-mono:
              - 'catsnap-mono/**'
            catsnap-authentication:
              - 'catsnap-authentication/**'
            catsnap-authorization-shared:
              - 'catsnap-authorization-shared/**'
            catsnap-reservation:
              - 'catsnap-reservation/**'
            catsnap-event-schema-shared:
              - 'catsnap-event-schema-shared/**'
            catsnap-payment:
              - 'catsnap-payment/**'
            common-files:
              - 'settings.gradle'
              - 'gradle/**'
              - '.github/workflows/**'

  test-gateway:
    needs: detect-changes
    if: needs.detect-changes.outputs.catsnap-gateway == 'true' || needs.detect-changes.outputs.catsnap-authorization-shared == 'true' || needs.detect-changes.outputs.common-files == 'true'
    permissions:
      contents: read
      checks: write
      pull-requests: write
    secrets: inherit
    uses: ./.github/workflows/test-catsnap-gateway.yml

  test-mono:
    needs: detect-changes
    if: needs.detect-changes.outputs.catsnap-mono == 'true' || needs.detect-changes.outputs.catsnap-authorization-shared == 'true' || needs.detect-changes.outputs.common-files == 'true'
    permissions:
      contents: read
      checks: write
      pull-requests: write
    secrets: inherit
    uses: ./.github/workflows/test-catsnap-mono.yml

  test-authentication:
    needs: detect-changes
    if: needs.detect-changes.outputs.catsnap-authentication == 'true' || needs.detect-changes.outputs.catsnap-authorization-shared == 'true' || needs.detect-changes.outputs.common-files == 'true'
    permissions:
      contents: read
      checks: write
      pull-requests: write
    secrets: inherit
    uses: ./.github/workflows/test-catsnap-authentication.yml

  test-authorization-shared:
    needs: detect-changes
    if: needs.detect-changes.outputs.catsnap-authorization-shared == 'true' || needs.detect-changes.outputs.common-files == 'true'
    permissions:
      contents: read
      checks: write
      pull-requests: write
    secrets: inherit
    uses: ./.github/workflows/test-catsnap-authorization-shared.yml

  test-reservation:
    needs: detect-changes
    if: needs.detect-changes.outputs.catsnap-reservation == 'true' || needs.detect-changes.outputs.catsnap-authorization-shared == 'true' || needs.detect-changes.outputs.common-files == 'true'
    permissions:
      contents: read
      checks: write
      pull-requests: write
    secrets: inherit
    uses: ./.github/workflows/test-catsnap-reservation.yml

  test-event-schema-shared:
    needs: detect-changes
    if: needs.detect-changes.outputs.catsnap-event-schema-shared == 'true' || needs.detect-changes.outputs.common-files == 'true'
    permissions:
      contents: read
      checks: write
      pull-requests: write
    secrets: inherit
    uses: ./.github/workflows/test-catsnap-event-schema-shared.yml

  test-payment:
    needs: detect-changes
    if: needs.detect-changes.outputs.catsnap-payment == 'true' || needs.detect-changes.outputs.common-files == 'true'
    permissions:
      contents: read
      checks: write
      pull-requests: write
    secrets: inherit
    uses: ./.github/workflows/test-catsnap-payment.yml
