name: Test Authorization Module

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Gradle Caching
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Grant execute permission for gradlew
        run: chmod +x authorization/gradlew

      - name: Test authorization module
        working-directory: authorization
        run: ./gradlew --info test

      - name: Publish test results for authorization
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: 'authorization/build/test-results/test/TEST-*.xml'
          check_name: Test Results (authorization)

      - name: Publish test report for authorization
        uses: mikepenz/action-junit-report@v4
        if: always()
        with:
          report_paths: 'authorization/build/test-results/test/TEST-*.xml'
          check_name: Test Report (authorization)

      - name: Upload coverage reports to Codecov for authorization
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: authorization/build/reports/jacoco/test/jacocoTestReport.xml
          flags: authorization
          name: authorization-coverage