name: Test Gateway Module

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Gradle Caching
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Test gateway module
        run: ./gradlew --info :gateway:test

      - name: Publish test results for gateway
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: 'gateway/build/test-results/test/TEST-*.xml'
          check_name: Test Results (gateway)

      - name: Publish test report for gateway
        uses: mikepenz/action-junit-report@v4
        if: always()
        with:
          report_paths: 'gateway/build/test-results/test/TEST-*.xml'
          check_name: Test Report (gateway)